# Authentication
AUTH_SECRET=your_nextauth_secret_here
AUTH_GOOGLE_ID=your_google_client_id
AUTH_GOOGLE_SECRET=your_google_client_secret
NEXTAUTH_URL=https://your-domain-name.com

# Database
MONGODB_URI=mongodb+srv://user:pass@cluster0.xxx.mongodb.net/dbname

# M-PESA
MPESA_CONSUMER_KEY=your_key
MPESA_CONSUMER_SECRET=your_secret
MPESA_PASS_KEY=your_pass_key
MPESA_SHORT_CODE=174379

# SMTP (For OTP/Token feature - Free via Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-google-app-password
SMTP_FROM=Mwenaro PlugPay <your-email@gmail.com>
SMTP_SECURE=true