AUTH_SECRET=your_nextauth_secret_here
AUTH_GOOGLE_ID=your_google_client_id
AUTH_GOOGLE_SECRET=your_google_client_secret
MONGODB_URI=mongodb://localhost:27017/mwenaro-pay

# M-PESA
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASS_KEY=
MPESA_SHORT_CODE=174379